html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ul.titlebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.titlebar {
    display: block;
	color: #ffe2e2;
    text-align: center;
    padding: 14px 16px;
	float: left;
    font-size: 22px;
}

li.titlebar a {
    display: block;
    color: #ffe2e2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.titlebar a:hover:not(.active_menu) {
    background-color: #dd0000;
}

/* Style the search box inside the title bar */
.titlebar input[type=text] {
    padding: 6px;
    border: none;
    /*margin-right: 16px;*/
    font-size: 18px;
}

ul.menubar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.menubar {
    color: #ffe2e2;
	float: left;
    font-size: 18px;
}

li.menubar a {
	display: block;
    color: #ffe2e2;
    text-align: center;
    padding: 2px 2px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

li.menubar a:hover:not(.active_menu) {
    background-color: #dd0000;
}

ul.navigationbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dd0000;
}

li.navigationbar {
    color: #333;
	float: left;
    font-size: 16px;
}

li.navigationbar a {
    display: block;
    color: #333;
    text-align: center;
    padding: 2px 2px;
    text-decoration: none;
}

li.navigationbar a:hover {
    background-color: #ffe2e2;
}

.active_menu {
    background-color: #dd0000;
}

/* When the screen is less than 900px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 900px) {
    .menu_hide {
        display: none        
    }
}

div.itemname {
    font-weight: bold;
	padding: 2px;
    font-size: 14px;
    text-align: center;
}

div.datetime {
    font-weight: italic;
	padding: 2px;
    font-size: 12px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.container {
	position: relative;
}

.tag {
	border: 3px solid rgba(255,100,100,.55);
	display:block;
	position:absolute;
}

.image {
    padding: 6px 6px;
    float: left;
}

.image_bg {
	background: #333;
	}

.image_bg:hover {
	background: #dd0000;
}

ul.imagebar {
	min-width: 140px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.imagebar {
    color: #ffe2e2;
	float: left;
    font-size: 18px;
}

li.imagebar a {
	display: block;
    color: #ffe2e2;
    text-align: center;
    padding: 2px 2px;
    text-decoration: none;
}

li.imagebar a:hover:not(.active_menu) {
    background-color: #dd0000;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width:calc(100% - 60px);
    height: calc(100vh - 60px);
    overflow-y: auto;
    position: relative;
    margin-top: 30px;
	margin-left: 30px;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	opacity:0.75;
}

.close {
	background: #606061;
	opacity:1;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 20px;
	text-align: center;
	top: 20px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
	background: #dd0000;
	opacity:1;
	color: #FFFFFF;
}
