<div id="moin-page" lang="en" dir="ltr">

  <div id="moin-content">

    <div class="moin-form">
      <h2>Add Tag to '{{ input.this.name() }}</h2>
      <form name="add_tag" action="{{ input.this.add_tag_url() }}" method="post">
{% if input.this.tag_id_exists(input.tag_id) %}        <input type="hidden" name="tag_id" value="{{input.tag_id}}" />{% endif %}
        <input type="hidden" name="x1" value="{{input.this.get_tag_wn_x(input.tag_id)}}" />
        <input type="hidden" name="y1" value="{{input.this.get_tag_wn_y(input.tag_id)}}" />
        <input type="hidden" name="x2" value="{{input.this.get_tag_wn_x2(input.tag_id)}}" />
        <input type="hidden" name="y2" value="{{input.this.get_tag_wn_y2(input.tag_id)}}" />
        <dl>
          <dt>
            <label class="required" for="f_login_username">Tag</label>
          </dt>
          <dd>
            <input type="text" name="tag_text" value="{{input.this.get_tag_text(input.tag_id)}}" autofocus="autofocus" class="required" id="f_add_tag" required="required" />
          </dd>
        </dl>
        <input type="hidden" name="tag_submit" value="1" class="" id="f_tag_submit" />
         <input type="submit" value="Submit Tag" class="button" name="action"/>
         <input type="submit" value="Delete Tag" class="button" name="action"/>
      </form>
    </div>

    <br>

    <div id="main" class="thumb_border" style="position:relative; width: {{input.this.webnail_x() + 12}}px; height: {{input.this.webnail_y() + 12}}px;">
      <div class="thumb_image_bg" style="width: {{input.this.webnail_x() + 12}}px; height: {{input.this.webnail_y() + 12}}px;">
        <img id="tag_img" src="{{ input.this.webnail_url() }}" style="margin: 6px 6px; border-radius: 3px;" alt="{{ input.this.name() }}">
      </div>
    </div>

  </div>

</div>
