<script>
  $(function () {
    //
    // tree data in json format
    var json_target_list = {{ input.pygal_user.empty_folder_list()|safe }};
    //
    // initilise target-tree as checkbox tree
    $("#target-tree").jstree({
      "checkbox" : {
      "keep_selected_style" : false,
      "three_state": false
      },
      "plugins" : [ "checkbox" ],
      "core": { data: json_target_list,
                multiple: false }
    });
    //
    // expand complete tree on init
    $('#target-tree').on('ready.jstree', function() {
      $("#target-tree").jstree("open_all");          
    });
    //
  });
  //
  // submit function to be called before submit of form
  function submitRightTree() {
    var selectedRights = [];
    $("#target-tree").find("li").each(function(i, element) { //also includes the ones below 'undetermined' parent
      if ($(this).attr("aria-selected") == "true") {
        selectedRights.push($(this).attr('id'));
      }
    });
    document.getElementById('target_path').value = selectedRights;
  }
</script>


    <h2>Staging</h2>
    <div class="moin-form">
      <form action="{{ input.this.admin_url() }}" method="get">
        <input type="hidden" name="admin_issue" value="staging" />
        <input type="hidden" name="action" value="{{ input.action }}" />
        <dl>
          <div>
            <dt>
              <label class="required" for="user">Choose a Staging-Container:</label>
            </dt>
            <dd>
              <select name="container_uuid" onchange="this.form.submit()"/>
                {% for container in input.containers.values() %}
                <option value="{{ container._uuid_ }}" {% if container._uuid_ == input.container_uuid %}selected{% endif %}>{{ container.container_name }}</option>
                {% endfor %}
              </select>
            </dd>
          </div>
        </dl>
      </form>
    </div>

    <h2>Content:</h2>
    {% for file in input.containers[input.container_uuid].container_files %}
    <img src="{{ input.url_prefix + input.app.prefix_admin }}?admin_issue=staging&action=thumb&container_uuid={{ input.container_uuid }}&filename={{ file }}" style="margin: 6px 6px; border-radius: 3px;" alt="{{ file }}"></a>
    {% endfor %}

 
    <h2>Action:</h2>
    <div class="moin-form">
      <form action="{{ input.this.admin_url() }}" method="get">
        <input type="hidden" name="admin_issue" value="staging" />
        <input type="hidden" name="container_uuid" value="{{ input.container_uuid }}" />
        <dl>
          <div>
            <dt>
              <label class="required" for="user">Choose an Action:</label>
            </dt>
            <dd>
              <select name="action" onchange="this.form.submit()"/>
                {% for action in ['delete', 'commit'] %}
                <option value="{{ action }}" {% if input.action == action %}selected{% endif %}>{{ action }}</option>
                {% endfor %}
              </select>
            </dd>
          </div>
        </dl>
      </form>
    </div>
  
    <div class="moin-form">
      <form name="choose_target" action="{{ input.this.admin_url() }}" method="post" onsubmit="submitRightTree()">
         <input type="hidden" name="admin_issue" value="staging" />
         <input type="hidden" name="container_uuid" value="{{ input.container_uuid }}" />
         <input type="hidden" name="action" value="{{ input.action }}" />
{% if input.action == 'commit' %}
         <input type="hidden" name="target_path" id="target_path" value="" />
         <input type="submit" value="Make it so" class="button" name="button"/><br>
           <div style="float: left;">
             <dt>
               <label class="required" for="target-tree">Choose Target:</label>
             </dt>
             <dd>
               <div id="target-tree"></div>
             </dd>
           </div>
         <br style="clear:both" />
{% endif %}
         <input type="submit" value="Make it so" class="button" name="button"/>
      </form>
    </div>
  