<script>
  $(function () {
    //
    // tree data in json format
    var json_view_right_list = {{ input.pygal_user.admin_view_right_list(input.user_to_admin)|safe }};
    var json_edit_right_list = {{ input.pygal_user.admin_edit_right_list(input.user_to_admin)|safe }};
    var json_delete_right_list = {{ input.pygal_user.admin_delete_right_list(input.user_to_admin)|safe }};
    //
    // initilise view-right-tree as checkbox tree
    $("#view-right-tree").jstree({
      "checkbox" : {
      "keep_selected_style" : false,
      "three_state": false
      },
      "plugins" : [ "checkbox" ],
      "core": { data: json_view_right_list}
    });
    //
    // expand complete tree on init
    $('#view-right-tree').on('ready.jstree', function() {
      $("#view-right-tree").jstree("open_all");          
    });
    //
    // initilise edit-right-tree as checkbox tree
    $("#edit-right-tree").jstree({
      "checkbox" : {
      "keep_selected_style" : false,
      "three_state": false
      },
      "plugins" : [ "checkbox" ],
      "core": { data: json_edit_right_list}
    });
    //
    // expand complete tree on init
    $('#edit-right-tree').on('ready.jstree', function() {
      $("#edit-right-tree").jstree("open_all");          
    });
    //
    // initilise delete-right-tree as checkbox tree
    $("#delete-right-tree").jstree({
      "checkbox" : {
      "keep_selected_style" : false,
      "three_state": false
      },
      "plugins" : [ "checkbox" ],
      "core": { data: json_delete_right_list}
    });
    //
    // expand complete tree on init
    $('#delete-right-tree').on('ready.jstree', function() {
      $("#delete-right-tree").jstree("open_all");          
    });
  });
  //
  // submit function to be called before submit of form
  function submitRightTree() {
    var selectedRights = [];
    $("#view-right-tree").find("li").each(function(i, element) { //also includes the ones below 'undetermined' parent
      if ($(this).attr("aria-selected") == "true") {
        selectedRights.push($(this).attr('id'));
      }
    });
    document.getElementById('view-rights').value = selectedRights;

    selectedRights = [];
    $("#edit-right-tree").find("li").each(function(i, element) { //also includes the ones below 'undetermined' parent
      if ($(this).attr("aria-selected") == "true") {
        selectedRights.push($(this).attr('id'));
      }
    });
    document.getElementById('edit-rights').value = selectedRights;

    selectedRights = [];
    $("#delete-right-tree").find("li").each(function(i, element) { //also includes the ones below 'undetermined' parent
      if ($(this).attr("aria-selected") == "true") {
        selectedRights.push($(this).attr('id'));
      }
    });
    document.getElementById('delete-rights').value = selectedRights;
  }
</script>

<div id="moin-page" lang="en" dir="ltr">
  <div id="moin-content">
    <h2>{{ input.user_to_admin }}</h2>
    <div class="moin-form">
      <form name="change_user_view-rights" action="{{ input.this.admin_url() }}" method="post" onsubmit="submitRightTree()">
         <input type="hidden" name="view-rights" id="view-rights" value="" />
         <input type="hidden" name="edit-rights" id="edit-rights" value="" />
         <input type="hidden" name="delete-rights" id="delete-rights" value="" />
         <input type="submit" value="Submit view-rights" class="button" name="action"/>
         <dl>
           <div>
             <dt>
               <label class="required" for="download-right">Download:</label>
             </dt>
             <dd>
               <input type="checkbox" name="download-right" value="true" id="download-right"  {% if input.pygal_user.admin_download_right(input.user_to_admin) %}checked{% endif %}>
             </dd>
           </div>
           <div  style="float: left;">
             <dt>
               <label class="required" for="view-right-tree">View:</label>
             </dt>
             <dd>
               <div id="view-right-tree"></div>
             </dd>
           </div>
           <div style="float: left;">
             <dt>
               <label class="required" for="edit-right-tree">Edit:</label>
             </dt>
             <dd>
               <div id="edit-right-tree"></div>
             </dd>
           </div>
           <div style="float: left;">
             <dt>
               <label class="required" for="delete-right-tree">Delete:</label>
             </dt>
             <dd>
               <div id="delete-right-tree"></div>
             </dd>
           </div>
         </dl>
         <br style="clear:both" />
         <input type="submit" value="Submit view-rights" class="button" name="action"/>

      </form>
    </div>


  </div>

</div>
