<script>
  $(function () {
    //
    // tree data in json format
    var json_target_list = {{ pygal_user.empty_folder_list()|safe }};
    //
    // initilise target-tree as checkbox tree
    $("#target-tree").jstree({
      "checkbox" : {
      "keep_selected_style" : false,
      "three_state": false
      },
      "plugins" : [ "checkbox" ],
      "core": { data: json_target_list,
                multiple: false }
    });
    //
    // expand complete tree on init
    //$('#target-tree').on('ready.jstree', function() {
    //  $("#target-tree").jstree("open_all");          
    //});
    //
  });
  //
  // submit function to be called before submit of form
  function submitRightTree() {
    var selectedRights = [];
    $("#target-tree").find("li").each(function(i, element) { //also includes the ones below 'undetermined' parent
      if ($(this).attr("aria-selected") == "true") {
        selectedRights.push($(this).attr('id'));
      }
    });
    document.getElementById('{{ arg_name.STR_ARG_ADMIN_TARGET }}').value = selectedRights;
  }
</script>


    <h2>Staging</h2>
    <div class="moin-form">
      <form action="{{ item.admin_url() }}" method="get">
        <input type="hidden" name="{{ arg_name.STR_ARG_ADMIN_ISSUE }}" value="{{ arg_name.STR_ARG_ADMIN_ISSUE_STAGING }}" />
        <input type="hidden" name="{{ arg_name.STR_ARG_ADMIN_ACTION }}" value="{{ action }}" />
        <dl>
          <div>
            <dt>
              <label class="required" for="{{ arg_name.STR_ARG_ADMIN_CONTAINER }}">Choose a Staging-Container:</label>
            </dt>
            <dd>
              <select name="{{ arg_name.STR_ARG_ADMIN_CONTAINER }}" onchange="this.form.submit()"/>
                {% for container in containers.values() %}
                <option value="{{ container.get_uuid() }}" {% if container.get_uuid() == container_uuid %}selected{% endif %}>{{ container.get_container_name() }}</option>
                {% endfor %}
              </select>
            </dd>
          </div>
        </dl>
      </form>
    </div>

    <h2>Action:</h2>
    <div class="moin-form">
      <form action="{{ item.admin_url() }}" method="get">
         <input type="hidden" name="{{ arg_name.STR_ARG_ADMIN_ISSUE }}" value="{{ arg_name.STR_ARG_ADMIN_ISSUE_STAGING }}" />
         <input type="hidden" name="{{ arg_name.STR_ARG_ADMIN_CONTAINER }}" value="{{ container_uuid }}" />
        <dl>
          <div>
            <dt>
              <label class="required" for="{{ arg_name.STR_ARG_ADMIN_ACTION }}">Choose an Action:</label>
            </dt>
            <dd>
              <select name="{{ arg_name.STR_ARG_ADMIN_ACTION }}" onchange="this.form.submit()"/>
                {% for this_action in [arg_name.STR_ARG_ADMIN_ACTION_DELETE, arg_name.STR_ARG_ADMIN_ACTION_COMMIT] %}
                <option value="{{ this_action }}" {% if action == this_action %}selected{% endif %}>{{ this_action }}</option>
                {% endfor %}
              </select>
            </dd>
          </div>
        </dl>
      </form>
    </div>
  
    <div class="moin-form">
      <form name="choose_target" action="{{ item.admin_url() }}" method="post" onsubmit="submitRightTree()">
         <input type="hidden" name="{{ arg_name.STR_ARG_ADMIN_ISSUE }}" value="{{ arg_name.STR_ARG_ADMIN_ISSUE_STAGING }}" />
         <input type="hidden" name="{{ arg_name.STR_ARG_ADMIN_CONTAINER }}" value="{{ container_uuid }}" />
         <input type="hidden" name="{{ arg_name.STR_ARG_ADMIN_ACTION }}" value="{{ action }}" />
{% if action == arg_name.STR_ARG_ADMIN_ACTION_COMMIT %}
         <input type="hidden" name="{{ arg_name.STR_ARG_ADMIN_TARGET }}" id="{{ arg_name.STR_ARG_ADMIN_TARGET }}" value="" />
         <input type="submit" value="Make it so" class="button" name="button"/><br>
           <div style="float: left;">
             <dt>
               <label class="required" for="target-tree">Choose Target:</label>
             </dt>
             <dd>
               <div id="target-tree"></div>
             </dd>
           </div>
         <br style="clear:both" />
{% endif %}
         <input type="submit" value="Make it so" class="button" name="button"/>
      </form>
    </div>

    <h2>Content:</h2>
    {% with itemlist=containers[container_uuid], legend=True %}
    <div id="thumb_overview">
        {% for item in itemlist.get_itemlist() %}
          {% include 'item_thumbnail.html' %}
        {% endfor %}
    </div>
    {% endwith %}
    <br style="clear:both" />
