<div id="moin-page" lang="en" dir="ltr">
  <div id="moin-content">

    <h2>Choose Administration issue</h2>
    <div class="moin-form">
      <form action="{{ input.this.admin_url() }}" method="get">
        <dl>
          <div>
            <dt>
              <label class="required" for="admin_issue">Administration issue:</label>
            </dt>
            <dd>
              <select name="admin_issue" onchange="this.form.submit()"/>
                {% for issue in ['permission', 'staging'] %}
                <option value="{{ issue }}" {% if input.admin_issue == issue %}selected{% endif %}>{{ issue }}</option>
                {% endfor %}
              </select>
            </dd>
          </div>
        </dl>
      </form>
    </div>

  {% if input.admin_issue == 'permission' %}{% include 'admin_permission.html' %}
  {% elif input.admin_issue == 'staging' %}{% include 'admin_staging.html' %}
  {% endif %}
  

  </div>
</div>
