          </div>
        </div>  
      </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
      <nav class="navbar">
        <div class="row">
          <div class="col-md-10 col-sm-10 col-xs-9">
            <div class="moin-navbar-header">
              <div class="navbar-brand">{{ tmc.get_time_str() }}</div>
            </div>
          </div>

          <div class="col-md-2 col-sm-2 col-xs-3">
            <div class="moin-pull-right">
              <img src="{{ url_prefix }}/static/common/logos/python_powered.png">
            </div>
          </div>
        </div>
      </nav> 

  </body>
</html>


