<div id="moin-page" lang="en" dir="ltr">
  <div id="moin-content" style="background-image:url({{ input.this.webnail_url() }}); background-repeat: no-repeat; min-height: {{ input.this.webnail_y() }}px; background-color: rgba(255,255,255,0.75); background-blend-mode: lighten;">
      <h2>{% if input.this.is_itemlist() %}Galery: {% else %}Item: {% endif %}{{ input.this.name() or 'Root' }}</h2>
      <table>
        <tbody>
{% for desc, info in input.this.get_infos() %}
          <tr>
          <td>{{ desc }}</td>
  {% if info is string %}
          <td style="text-align:right;">{{ info }}</td>
  {% else %}
          <td style="text-align:right;"><a href="{{ info[0] }}">{{ info[1] }}</a></td>
  {% endif %}
          </tr>
{% endfor %}
{% if not input.this.is_itemlist() and input.this.get_tag_id_list()|length > 0 %}
  {% for tag_id in input.this.get_tag_id_list() %}
          <tr>
          <td>{% if loop.index == 1 %}Tags:{% endif %}</td>
          <td style="text-align:right;"><a  href="{{input.this.add_tag_url(tag_id)}}" title="{{input.this.get_tag_text(tag_id)}}" rel="nofollow">{{input.this.get_tag_text(tag_id)}}<img src="{{input.this.get_tag_icon(tag_id)}}"></a></td>
          </tr>
  {% endfor %}
{% endif %}
        </tbody>
      </table>
{% if input.pygal_user.may_admin() %}
{% include 'cachedata.html' %}
{% endif %}
  </div>
</div>