      <h2>{{ input.this.name() or 'Root' }}</h2>
      <img src="{{ input.this.thumbnail_url() }}" style="margin: 6px 6px; border-radius: 3px;" alt="{{ input.this.name() }}">
      <br>
      <table>
        <tbody>
{% for desc, info in input.this.get_infos() %}
          <tr>
          <td>{{ desc }}</td>
{% if info is string %}
          <td style="text-align:right;">{{ info }}</td>
{% else %}
          <td style="text-align:right;"><a href="{{ info[0] }}">{{ info[1] }}</a></td>
{% endif %}
          </tr>
{% endfor %}
        </tbody>
      </table>