<div id="main" class="thumb_border">
  <h2><a href="{{ item.raw_url() }}">{{ item.name(True) }}</a></h2>
  <table>
    <tbody>
{% for entry in item.get_infos() %}
      <tr>
        <td>{{ entry.description }}</td>
  {% if entry.info is string %}
        <td style="text-align:right;">{{ entry.info }}</td>
  {% else %}
        <td style="text-align:right;"><a href="{{ entry.info.url }}">{{ entry.info.name }}</a></td>
  {% endif %}
      </tr>
{% endfor %}
{% if not item.is_itemlist() and item.get_tag_id_list()|length > 0 %}
  {% for tag_id in item.get_tag_id_list() %}
      <tr>
        <td>{% if loop.index == 1 %}Tags:{% endif %}</td>
        <td style="text-align:right;"><a  href="{{item.add_tag_url(tag_id)}}" title="{{item.get_tag_text(tag_id)}}" rel="nofollow">{{item.get_tag_text(tag_id)}}<img src="{{item.get_tag_icon(tag_id)}}"></a></td>
      </tr>
  {% endfor %}
{% endif %}
    </tbody>
  </table>
</div>
