<div id="moin-page" lang="en" dir="ltr">
  <div id="moin-content">
    <div id="moin-flash">  
    </div>
    <h1>{{ input.lang.lostpass }}</h1>
    <div class="moin-form">
      <form name="lostpass" action="{{ input.url_prefix }}/_lostpass_{{ input.url_extention }}" method="post">
        <dl>
          <dt>
            <label for="f_lostpass_username">Name</label>
          </dt>
          <dd>
            <input type="text" name="lostpass_username" value="" class="" id="f_lostpass_username" placeholder="Your login name" />
          </dd>
          <dt>
            <label for="f_lostpass_email">E-Mail</label>
          </dt>
          <dd>
            <input type="email" name="lostpass_email" value="" class="" id="f_lostpass_email" placeholder="Your E-Mail address" />
          </dd>
        </dl>
        <input type="submit" value="Recover password" class="button" />
      </form>
    </div>
  </div>
</div>
