  <div id="moin-page" lang="en" dir="ltr">

    <div id="thumb_overview">


      {% for item in input.this.itemlist() %}
        <div id="{{ item.name() }}" class="thumb_border" style="width: {{item.thumbnail_xy_max() + 12}}px; height: {{item.thumbnail_xy_max() + 12 + 65 }}px;">
          <b>{{ item.name() }}</b><br>
          <i><small>{{ item.strtime() }}</small></i><br><br>
          <ul id="pygal-actions" class="panel">
            {% for action in item.actions() %}
              <li class="pygal-action"><a href="{{ action.url }}"><img src="{{ action.pic }}" alt="{{ action.name }}"></a></li>
            {% endfor %}
          </ul>
          <div class="thumb_image_bg" style="width: {{item.thumbnail_x() + 12}}px; height: {{item.thumbnail_y() + 12}}px; margin-top: 0px;">
            <a href="{{ item.url() }}"><img src="{{ item.thumbnail_url() }}" style="margin: 6px 6px; border-radius: 3px;" alt="{{ item.name() }}"></a>
          </div>
          <p></p>
        </div>
      {% endfor %}
    </div>
  </div>
