<! 'test.html': Needs item instance >

{% with item = item.prv(), action_bar=False, itemlink=True, legend=False %}
  {% include 'item_thumbnail.html' %}
{% endwith %}

<div id="main" class="thumb_border" style="width: {{item.webnail_x() + 12}}px; height: {{item.webnail_y() + 12}}px;">
  <div class="thumb_image_bg" style="width: {{item.webnail_x() + 12}}px; height: {{item.webnail_y() + 12}}px;">
    <video id="MY_VIDEO_1" class="video-js vjs-default-skin" controls poster="{{item.webnail_url()}}" preload="auto" width="{{ item.webnail_x() }}" height="{{ item.webnail_y() }}" {% if item.slideshow() %}autoplay="true"{% endif %} data-setup="{}">
      <source src="{{ item.raw_url() }}" type='{{ item.mime_type() }}'>
      <p class="vjs-no-js">To view {{item.name()}} please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
  </div>
</div>

{% with item = item.nxt(), action_bar=False, itemlink=True, legend=False %}
  {% include 'item_thumbnail.html' %}
{% endwith %}
