/* pygal.css
 *
 * Copyright: 2013 Dirk Alders
 * License: GNU GPL v2 or later, see COPYING for details.
 */ 

#thumb_overview { background: transparent; width: 100%; }
.thumb_border   { background: transparent; vertical-align: bottom; float: left; text-align: center; margin: 20px; }
.thumb_image_bg { background: #1b436d; border-radius: 5px; }
#pygal-actions {clear:both;display:block;margin:0;padding:4px 4px;font-size:.82em;color:#008b8b;height: 25px}
#pygal-actions li{float:left;display:inline;margin:8 20px;padding:2px 2.5px;border:1px solid #4e7da9;border-bottom:none;white-space:nowrap;font-size:.88em;border-top-left-radius:5px;border-top-right-radius:5px;height: 21px}
#pygal-actions li.wikilink{background:#eef1f6}
#pygal-actions li.userlink{background:#eef1f6}
#pygal-actions a,#moin-navibar a:visited{color:#99e500;text-decoration:none}
#pygal-actions li:hover{background:#d8dfe9}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 85%;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	opacity:1;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 12px;
	text-align: center;
	top: 10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
	background: #1b436d;
	background: #428bca;
	opacity:1;
	color: #FFFFFF;
}
