<div id="moin-page" lang="en" dir="ltr">

  <div id="moin-content">

    <div id="moin-flash">  
      <p class="moin-flash moin-flash-info">If you do not have an account, <a href="{{ input.url_prefix }}/_register_{{ input.url_extention }}">you can create one now</a>. <a href="{{ input.url_prefix }}/_lostpass_{{ input.url_extention }}">Forgot your password?</a></p>
    </div>



    <div class="moin-form">
      <h2>{{ input.lang.login }}</h2>
      <form name="login" action="{{ input.url_prefix }}/_login_{{ input.url_extention }}" method="post">
        <dl>
          <dt>
            <label class="required" for="f_login_username">Name</label>
          </dt>
          <dd>
            <input type="text" name="login_username" value="" autofocus="autofocus" class="required" id="f_login_username" required="required" />
          </dd>
          <dt>
            <label class="required" for="f_login_password">Password</label>
          </dt>
          <dd>
            <input type="password" name="login_password" class="required" id="f_login_password" required="required" />
          </dd>
        </dl>
        <input type="hidden" name="login_submit" value="1" class="" id="f_login_submit" />
        <input type="submit" value="Log in" class="button" />
      </form>
    </div>

  </div>

</div>
