{% if item.is_picture() %}
<script type="text/javascript">
  function preview(img, selection) {}
    $(function () {
      $('#tag_img').imgAreaSelect({
{% if item is not none and item.tag_id_exists(tag_id) and item.tag_has_coordinates(tag_id) %}
        x1: {{item.get_tag_wn_x(tag_id)}}, 
        x2: {{item.get_tag_wn_x2(tag_id)}}, 
        y1: {{item.get_tag_wn_y(tag_id)}}, 
        y2: {{item.get_tag_wn_y2(tag_id)}}, 
{% endif %}
        onSelectEnd: function (img, selection) {
        $('input[name="x1"]').val(selection.x1);
        $('input[name="y1"]').val(selection.y1);
        $('input[name="x2"]').val(selection.x2);
        $('input[name="y2"]').val(selection.y2);
      }
    });
  });
</script>
{% endif %}
      <form name="add_tag" class="form" action="{{ item.add_tag_url() }}" method="post">
{% if item.tag_id_exists(tag_id) %}
        <input type="hidden" name="tag_id" value="{{tag_id}}" />{% endif %}
        <input type="hidden" name="x1" value="{{item.get_tag_wn_x(tag_id)}}" />
        <input type="hidden" name="y1" value="{{item.get_tag_wn_y(tag_id)}}" />
        <input type="hidden" name="x2" value="{{item.get_tag_wn_x2(tag_id)}}" />
        <input type="hidden" name="y2" value="{{item.get_tag_wn_y2(tag_id)}}" />
        <label class="required" for="f_login_username">Tag</label>
        <input type="text" name="tag_text" value="{{item.get_tag_text(tag_id)}}" autofocus="autofocus" class="required" id="f_add_tag" required="required" />
        <input type="hidden" name="tag_submit" value="1" class="" id="f_tag_submit" />
        <input type="submit" value="Submit Tag" class="button" name="action"/>
{% if item.tag_id_exists(tag_id) %}
         <input type="submit" value="Delete Tag" class="button" name="action"/>
{% endif %}
      </form>
{% if item.is_picture() %}
    <div id="main" class="thumb_border" style="position:relative; width: {{item.webnail_x() + 12}}px; height: {{item.webnail_y() + 12}}px;">
      <div class="thumb_image_bg" style="width: {{item.webnail_x() + 12}}px; height: {{item.webnail_y() + 12}}px;">
        <img id="tag_img" src="{{ item.webnail_url() }}" style="margin: 6px 6px; border-radius: 3px;" alt="{{ item.name() }}">
      </div>
    </div>
{% endif %}
