<script>
  $(function () {
    //
    // tree data in json format
    var json_target_list = {{ pygal_user.empty_folder_list()|safe }};
    //
    // initilise target-tree as checkbox tree
    $("#target-tree").jstree({
      "checkbox" : {
      "keep_selected_style" : false,
      "three_state": false
      },
      "plugins" : [ "checkbox" ],
      "core": { data: json_target_list,
                multiple: false }
    });
    //
    // expand complete tree on init
    //$('#target-tree').on('ready.jstree', function() {
    //  $("#target-tree").jstree("open_all");          
    //});
    //
  });
  //
  // submit function to be called before submit of form
  function submitRightTree() {
    var selectedRights = [];
    $("#target-tree").find("li").each(function(i, element) { //also includes the ones below 'undetermined' parent
      if ($(this).attr("aria-selected") == "true") {
        selectedRights.push($(this).attr('id'));
      }
    });
    document.getElementById('{{ arg_name.STR_ARG_ADMIN_TARGET }}').value = selectedRights;
  }
</script>


    {%- if containers|length > 0 %}
    <h1>Staging</h1>
    <h2>Container</h2>
    <form action="{{ item.admin_url() }}" class="form" method="get">
      <input type="hidden" name="{{ arg_name.STR_ARG_ADMIN_ISSUE }}" value="{{ arg_name.STR_ARG_ADMIN_ISSUE_STAGING }}" />
      <input type="hidden" name="{{ arg_name.STR_ARG_ADMIN_ACTION }}" value="{{ action }}" />
      <label class="required" for="{{ arg_name.STR_ARG_ADMIN_CONTAINER }}">Choose a Staging-Container:</label>
      <select name="{{ arg_name.STR_ARG_ADMIN_CONTAINER }}" onchange="this.form.submit()"/>
      {%- for container in containers.values() %}
        <option value="{{ container.get_uuid() }}" {% if container.get_uuid() == container_uuid %}selected{% endif %}>{{ container.get_container_name() }}</option>
      {%- endfor %}
      </select>
    </form>

    <h2>Action</h2>
    <form action="{{ item.admin_url() }}" method="get" class="form">
      <input type="hidden" name="{{ arg_name.STR_ARG_ADMIN_ISSUE }}" value="{{ arg_name.STR_ARG_ADMIN_ISSUE_STAGING }}" />
      <input type="hidden" name="{{ arg_name.STR_ARG_ADMIN_CONTAINER }}" value="{{ container_uuid }}" />
      <label class="required" for="{{ arg_name.STR_ARG_ADMIN_ACTION }}">Choose an Action:</label>
      <select name="{{ arg_name.STR_ARG_ADMIN_ACTION }}" onchange="this.form.submit()"/>
      {%- for this_action in [arg_name.STR_ARG_ADMIN_ACTION_DELETE, arg_name.STR_ARG_ADMIN_ACTION_COMMIT] %}
        <option value="{{ this_action }}" {% if action == this_action %}selected{% endif %}>{{ this_action }}</option>
      {%- endfor %}
      </select>
    </form>
  
    <h2>Target</h2>
    <form name="choose_target" action="{{ item.admin_url() }}" class="form" method="post" onsubmit="submitRightTree()">
      <input type="hidden" name="{{ arg_name.STR_ARG_ADMIN_ISSUE }}" value="{{ arg_name.STR_ARG_ADMIN_ISSUE_STAGING }}" />
      <input type="hidden" name="{{ arg_name.STR_ARG_ADMIN_CONTAINER }}" value="{{ container_uuid }}" />
      <input type="hidden" name="{{ arg_name.STR_ARG_ADMIN_ACTION }}" value="{{ action }}" />
{%- if action == arg_name.STR_ARG_ADMIN_ACTION_COMMIT %}
      <input type="hidden" name="{{ arg_name.STR_ARG_ADMIN_TARGET }}" id="{{ arg_name.STR_ARG_ADMIN_TARGET }}" value="" />
      <input type="submit" value="Make it so" class="button" name="button"/><br>
      <label class="required" for="target-tree">Choose Target:</label>
      <div id="target-tree"></div>
{%- endif %}
      <input type="submit" value="Make it so" class="button" name="button"/>
    </form>

    <h2>Content:</h2>
{%- with itemlist=containers[container_uuid], legend=True %}
  {%- for item in itemlist.get_itemlist() %}
    <div id="{{ item.name() }}" class="image">
      <div style="height: {{item.thumbnail_xy_max() + 90}}px;">
        <div class="itemname">{{ item.name() }}</div>
        <div class="datetime">{{ item.strtime() }}</div>
          <div class="image_bg" style="width: {{item.thumbnail_x() + 12}}px; height: {{item.thumbnail_y() + 12}}px;">
            <img src="{{ item.thumbnail_url() }}" style="margin: 6px 6px;" alt="{{ item.name() }}">
          </div>
      </div>
    </div>
  {%- endfor %}
{%- endwith %}
    <br style="clear:both" />
{%- endif %}