<script>
  $(function () {
    //
    // tree data in json format
    var json_view_right_list = {{ pygal_user.admin_view_right_list(user_to_admin)|safe }};
    var json_edit_right_list = {{ pygal_user.admin_edit_right_list(user_to_admin)|safe }};
    var json_delete_right_list = {{ pygal_user.admin_delete_right_list(user_to_admin)|safe }};
    //
    // initilise view-right-tree as checkbox tree
    $("#view-right-tree").jstree({
      "checkbox" : {
      "keep_selected_style" : false,
      "three_state": false
      },
      "plugins" : [ "checkbox" ],
      "core": { data: json_view_right_list}
    });
    //
    // expand complete tree on init
    $('#view-right-tree').on('ready.jstree', function() {
      $("#view-right-tree").jstree("open_all");          
    });
    //
    // initilise edit-right-tree as checkbox tree
    $("#edit-right-tree").jstree({
      "checkbox" : {
      "keep_selected_style" : false,
      "three_state": false
      },
      "plugins" : [ "checkbox" ],
      "core": { data: json_edit_right_list}
    });
    //
    // expand complete tree on init
    $('#edit-right-tree').on('ready.jstree', function() {
      $("#edit-right-tree").jstree("open_all");          
    });
    //
    // initilise delete-right-tree as checkbox tree
    $("#delete-right-tree").jstree({
      "checkbox" : {
      "keep_selected_style" : false,
      "three_state": false
      },
      "plugins" : [ "checkbox" ],
      "core": { data: json_delete_right_list}
    });
    //
    // expand complete tree on init
    $('#delete-right-tree').on('ready.jstree', function() {
      $("#delete-right-tree").jstree("open_all");          
    });
  });
  //
  // submit function to be called before submit of form
  function submitRightTree() {
    var selectedRights = [];
    $("#view-right-tree").find("li").each(function(i, element) { //also includes the ones below 'undetermined' parent
      if ($(this).attr("aria-selected") == "true") {
        selectedRights.push($(this).attr('id'));
      }
    });
    document.getElementById('view-rights').value = selectedRights;

    selectedRights = [];
    $("#edit-right-tree").find("li").each(function(i, element) { //also includes the ones below 'undetermined' parent
      if ($(this).attr("aria-selected") == "true") {
        selectedRights.push($(this).attr('id'));
      }
    });
    document.getElementById('edit-rights').value = selectedRights;

    selectedRights = [];
    $("#delete-right-tree").find("li").each(function(i, element) { //also includes the ones below 'undetermined' parent
      if ($(this).attr("aria-selected") == "true") {
        selectedRights.push($(this).attr('id'));
      }
    });
    document.getElementById('delete-rights').value = selectedRights;
  }
</script>


    <h1>Permissions</h1>
    <form action="{{ item.admin_url() }}" class="form">
      <input type="hidden" name="{{ arg_name.STR_ARG_ADMIN_ISSUE}}" value="{{ arg_name.STR_ARG_ADMIN_ISSUE_PERMISSION }}" />
      <label class="required" for="f_{{ arg_name.STR_ARG_ADMIN_USER }}">{{ lang.user }}:</label>
      <select name="{{ arg_name.STR_ARG_ADMIN_USER }}" id="f_{{ arg_name.STR_ARG_ADMIN_USER }}" onchange="this.form.submit()">
        <option value {% if not user_to_admin %}selected {%endif %}>public-permissions</option>
        {%- for user in pygal_user.users() %}
        <option value="{{ user }}" {% if user == user_to_admin %}selected{% endif %}>{{ user }}</option>
        {%- endfor %}
      </select>
    </form>

    <form name="change_user_rights" action="{{ item.admin_url() }}" class="form" method="post" onsubmit="submitRightTree()">
      <input type="hidden" name="{{ arg_name.STR_ARG_ADMIN_USER }}" id="{{ arg_name.STR_ARG_ADMIN_USER }}" value="{{ user_to_admin }}" />
      <input type="hidden" name="view-rights" id="view-rights" value="" />
      <input type="hidden" name="edit-rights" id="edit-rights" value="" />
      <input type="hidden" name="delete-rights" id="delete-rights" value="" />
      <input type="submit" value="Set permissions" class="button" name="action"/>
      <label class="required" for="f_upload-right">Upload:</label>
      <input type="checkbox" name="upload-right" value="true" id="f_upload-right"  {% if pygal_user.admin_upload_right(user_to_admin) %}checked{% endif %}>
      <label class="required" for="download-right">Download:</label>
      <input type="checkbox" name="download-right" value="true" id="download-right"  {% if pygal_user.admin_download_right(user_to_admin) %}checked{% endif %}>
      <br style="clear:both;">
      <br style="clear:both;">
      <div style="float: left;">
        <label class="required">View:</label>
        {%- if user_to_admin != '' %}
        <br style="clear:both;">
        <input type="checkbox" name="inverse-right-view" value="true" id="f_inverse_right_view"  {% if pygal_user.inverse_right_view(user_to_admin) %}checked{% endif %}> Inverse viewrights (be carefull: automatic access to new items)
        {%- endif %}
        <div id="view-right-tree"></div>
      </div>
      <div style="float: left;">
        <label class="required">Edit:</label>
        {%- if user_to_admin != '' %}
        <br style="clear:both;">
        <input type="checkbox" name="inverse-right-edit" value="true" id="f_inverse_right_edit"  {% if pygal_user.inverse_right_edit(user_to_admin) %}checked{% endif %}> Inverse editrights (be carefull: automatic access to new items)
        {%- endif %}
        <div id="edit-right-tree"></div>
      </div>
      <div style="float: left;">
          <label class="required">Delete:</label>
        {%- if user_to_admin != '' %}
        <br style="clear:both;">
        <input type="checkbox" name="inverse-right-delete" value="true" id="f_inverse_right_delete"  {% if pygal_user.inverse_right_delete(user_to_admin) %}checked{% endif %}> Inverse deleterights (be carefull: automatic access to new items)
        {%- endif %}
          <div id="delete-right-tree"></div>
      </div>
      <input type="submit" value="Set permissions" class="button" name="action"/>
    </form>
