    <div id="main" class="image">
      {% with menu_bar = item.get_tag_menu(), slim=True %}{% include 'menubar.html' %}{% endwith %}
      <div class="image_bg">
        <a href="{{ item.raw_url() }}"><h1>{{ item.name(True) }}</h1></a>
        <table>
          <tbody>
            {%- for entry in item.get_infos() %}
            <tr>
              <th>{{ entry.description }}</th>
              {%- if entry.info is string %}
              <td style="text-align:right;">{{ entry.info }}</td>
              {%- else %}
              <td style="text-align:right;"><a href="{{ entry.info.url }}">{{ entry.info.name }}</a></td>
              {%- endif %}
            </tr>
            {%- endfor %}
          </tbody>
        </table>
      </div>
    </div>
