    <div id="{{ item.prv().name() }}" class="image">
      <a href="{{ item.prv().item_url()|safe }}">
        <div class="image_bg">
          <img src="{{ item.prv().thumbnail_url() }}" alt="{{ item.prv().name() }}">
        </div>
      </a>
    </div>


    <div id="main" class="image">
      <a href="{{ item.raw_url() }}"><h1>{{ item.name(True) }}</h1></a>
      <table>
        <tbody>
{%- for entry in item.get_infos() %}
          <tr>
            <td>{{ entry.description }}</td>
  {%- if entry.info is string %}
            <td style="text-align:right;">{{ entry.info }}</td>
  {%- else %}
            <td style="text-align:right;"><a href="{{ entry.info.url }}">{{ entry.info.name }}</a></td>
  {%- endif %}
          </tr>
{%- endfor %}
{%- if not item.is_itemlist() and item.get_tag_id_list()|length > 0 %}
  {%- for tag_id in item.get_tag_id_list() %}
          <tr>
            <td>{% if loop.index == 1 %}Tags:{% endif %}</td>
            <td style="text-align:right;"><a  href="{{item.add_tag_url(tag_id)}}" title="{{item.get_tag_text(tag_id)}}" rel="nofollow">{{item.get_tag_text(tag_id)}}<img src="{{url_prefix}}/static/img/dark_grey/{{item.get_tag_icon(tag_id)}}.png"></a></td>
          </tr>
  {%- endfor %}
{%- endif %}
        </tbody>
      </table>
    </div>

    <div id="{{ item.nxt().name() }}" class="image">
      <a href="{{ item.nxt().item_url()|safe }}">
        <div class="image_bg">
          <img src="{{ item.nxt().thumbnail_url() }}" alt="{{ item.nxt().name() }}">
        </div>
      </a>
    </div>


    <div class="clearfix"></div>
