    <form name="delete" action="{{ item.delete_url() }}" class="form" method="post">
      <input type="hidden" name="delete_submit" value="1" class="" id="f_delete_submit" />
      <input type="submit" value="Delete" class="button" />
    </form>
    <div {% if item.is_picture() or item.is_video() or item.is_itemlist() %}style="background-image:url({{ item.webnail_url() }}); background-repeat: no-repeat; min-height: {{ item.webnail_y() }}px; background-color: rgba(255,255,255,0.75); background-blend-mode: lighten;"{% endif %}>
    </div>

{%- if not item.is_picture() and not  item.is_video() and not item.is_itemlist() %}
{%- include 'item_baseitem.html' %}
{%- endif %}