

    <ul class="menubar">
      <li class="menubar"><a href=" https://github.com/sudo-dirk/pygal/wiki">PyGal:</a></li>
      <li class="menubar" style="padding:2px">{{ tmc.get_time_str() }}</li>
      <li class="menubar" style="float:right"><a href="https://www.python.org"><img src="{{ url_prefix }}/static/img/python_powered.png"></a></li>
      <li class="menubar" style="float:right"><a href="https://whoosh.readthedocs.io/en/latest"><img src="{{ url_prefix }}/static/img/whoosh.png"></a></li>
{%- if debug %}
      <li class="menubar" style="float:right"><a href=" https://validator.w3.org/nu/?doc={{ full_url }}">W3-Validator</a></li>
{%- endif %}
    </ul>

  </body>
</html>

