

    <div class="menubar">
      <a href=" https://github.com/sudo-dirk/pygal/wiki">PyGal</a>
      <a>{{ tmc.get_time_str() }}</a>
      <a style="float:right" href="https://www.python.org"><img src="{{ url_prefix }}/static/img/python_powered.png" alt="Python"></a>
      <a style="float:right" href="https://whoosh.readthedocs.io/en/latest"><img src="{{ url_prefix }}/static/img/whoosh.png" alt="Whoosh"></a>
{%- if debug %}
      <a style="float:right" href=" https://validator.w3.org/nu/?doc={{ full_url }}">W3-Validator</a>
{%- endif %}
    </div>
{% with menu_bar = user_links %}{% include 'menubar.html' %}{% endwith %}

{%- if (error or info or hint) and not slideshow %}
    <div class="hidden fixed" id="fixed" onclick="myHideFunction()">
    {%- if hint %}
      <p class="flash flash-hint">{{ hint|safe }}</p>
    {%- endif %}
    {%- if info %}
      <p class="flash flash-info">{{ info|safe }}</p>
    {%- endif %}
    {%- if error %}
      <p class="flash flash-error">{{ error|safe }}</p>
    {%- endif %}
    </div>

    <script>
    /*
    * Flash
    */
    window.onscroll = function() {myScrollFunction()};

    var flash = document.getElementById("flash");
    var fixed_ = document.getElementById("fixed");
    var flash_pos = flash.offsetTop;
    var enabled = true;

    function myScrollFunction() {
        if (window.pageYOffset >= flash_pos && enabled){
            fixed_.classList.remove("hidden");
        } else {
            fixed_.classList.add("hidden");
            }
    }

    function myHideFunction() {
        fixed.classList.add("hidden");
        enabled = false;
    }
    </script>
{%- endif %}

  </body>
</html>

