    <div {% if item.is_picture() or item.is_video() %}style="background-image:url({{ item.webnail_url() }}); background-repeat: no-repeat; min-height: {{ item.webnail_y() }}px;"{% endif %}>
      <h1>{{ item.name() }}</h1>
      <table>
        <tbody>
        {%- for entry in item.get_infos() %}
          <tr>
          <td>{{ entry.description }}</td>
          {%- if entry.info is string %}
          <td style="text-align:right;">{{ entry.info }}</td>
          {%- else %}
          <td style="text-align:right;"><a href="{{ entry.info.url }}">{{ entry.info.name }}</a></td>
          {%- endif %}
          </tr>
        {%- endfor %}
        </tbody>
      </table>

{%- if not item.is_itemlist() and item.has_tags() %}
      <h2>Tags</h2>
      {% with menu_bar = item.get_tag_menu(), slim=True %}{% include 'menubar.html' %}{% endwith %}
{%- endif %}

{%- if item.user_may_admin() and item.has_cache_data() %}
      <h1>Cachedata</h1>
      <table>
        <tbody>
        {% for cachedata in item.cache_data() %}
          <tr>
            <td>{{ cachedata[0] }}</td>
            <td style="text-align:right;"><a  href="{{ cachedata[2]+'#openModal' }}" rel="nofollow">{{ cachedata[1] }}</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
{% endif %}
    </div>
