{% if item.is_itemlist() %}
  {% with itemlist = item %}
    {% include 'overview.html' %}
  {% endwith %}
{% else %}
  {%- with item=item.prv() %}
    {%- include 'thumbnail.html' %}
  {%- endwith %}

  {% if item.is_baseitem() %}
    {% include 'baseitem.html' %}
  {% elif item.is_picture() %}
    {% include 'picture.html' %}
  {% elif item.is_video() and item.use_internal_player() %}
    {% include 'video.html' %}
  {% elif item.is_video() %}
    {% include 'picture.html' %}
  {% elif item.is_audio() %}
    {% include 'audio.html' %}
  {% endif %}

  {%- with item=item.nxt() %}
    {%- include 'thumbnail.html' %}
  {%- endwith %}
{% endif %}

    <div class="clearfix"></div>
