 
 
    <form name="login" class="form" action="{{ item.login_url() }}" method="post"> 
      <label for="f_login_username">Username</label>
      <input id="f_login_username" type="text" name="login_username" autofocus="autofocus" required="required" placeholder="Your Username..." /> 
      <label for="f_login_password">Password</label> 
      <input id="f_login_password" type="password" name="login_password" required="required" placeholder="Your Password..." /> 
      <input id="f_login_submit" type="hidden" name="login_submit" value="1" /> 
      <input type="submit" value="Login" class="button" /> 
    </form> 
