
    <form name="lostpass" action="{{ item.lostpass_url() }}" method="post" class="form">
      <label for="f_lostpass_username">Name</label>
      <input type="text" name="lostpass_username" value="" class="" id="f_lostpass_username" placeholder="Your login name" />
      <label for="f_lostpass_email">E-Mail</label>
      <input type="email" name="lostpass_email" value="" class="" id="f_lostpass_email" placeholder="Your E-Mail address" />
      <input type="submit" value="Recover password" class="button" />
    </form>
