{% if item.user_may_admin() and item.has_cache_data() %}
<div id="openModal" class="modalDialog">
	<div>
      <h1>{{ filename }}</h1>
      <div id="dest"></div>
      <script>
        document.getElementById("dest").appendChild
        (
          renderjson.set_show_to_level("all")
                    .set_sort_objects(true)
                    .set_icons('+', '-')
                    //.set_max_string_length(50)
          (
            {{ json_str|safe }}
          )
        );
      </script>
	</div>
	<a href="#close" title="Close" class="close">X</a>
</div>
{% endif %}
