      <form name="userprofile" id="userprofile" action="" method="post" class="form">
        <label for="password1">New Password</label>
        <input type="password" name="password1" id="password1" placeholder="{{ lang.password_desc }}" autofocus="autofocus" />
        <label for="password2">New Password</label>
        <input type="password" name="password2" id="password2" placeholder="{{ lang.password2_desc }}" />
        <input type="submit" value="Set Password" class="button" />
      </form>
