    <form name="upload" id="upload" action="{{ item.upload_url() }}" class="form" method="post" enctype="multipart/form-data">
      <label class="required" for="f_container_name">Container Name</label>
      <input class="required" required="required" type="text" name="container_name" id="f_container_name" placeholder="Container Name" />
      <label class="required" for="f_files">Choose Files</label>
      <input  class="required" required="required" type="file" name="file[]" id="f_files" multiple>
      <label for="f_submit"></label>
      <input type="submit" value="Upload" class="button" id="f_submit" />
    </form>
    