      <form name="userprofile" id="userprofile" action="{{ item.userprofile_url() }}" method="post" class="form">
        <h1>Picture Size</h1>
        <label class="required" for="f_select_thumbnail_size">Thumbnail size</label>
        <select name="select_thumbnail_size" form="userprofile" />
          {%- for thumbnail_size in config.thumbnail_size_list %}
          <option value="{{ loop.index-1 }}"{% if pygal_user.get_thumbnail_size() == thumbnail_size %} selected{% endif %}>{{ thumbnail_size }}</option>
          {%- endfor %}
            </select>
          <label class="required" for="f_select_webnail_size">Webnail size</label>
          <select name="select_webnail_size" form="userprofile" />
          {%- for webnail_size in config.webnail_size_list %}
            <option value="{{ loop.index-1 }}"{% if pygal_user.get_webnail_size() == webnail_size %} selected{% endif %}>{{ webnail_size }}</option>
          {%- endfor %}
          </select>

        <h1>User Profile data</h1>
        <label for="f_userprofile_password_current">Current Password</label>
        <input type="password" name="userprofile_password_current" id="f_userprofile_password_current" placeholder="{{ lang.password_desc }}" />
        <label for="f_userprofile_password1">New Password</label>
        <input type="password" name="userprofile_password1" id="f_userprofile_password1" placeholder="{{ lang.password_desc }}" />
        <label for="f_userprofile_password2">New Password</label>
        <input type="password" name="userprofile_password2" id="f_userprofile_password2" placeholder="{{ lang.password2_desc }}" />
        <label class="required" for="f_userprofile_email">E-Mail</label>
        <input type="email" name="userprofile_email" value="{{ pygal_user.get_my_email() }}" class="required" id="f_userprofile_email" placeholder="{{ lang.email_desc }}" required="required" />
        <input type="submit" value="Update Userprofile" class="button" />
      </form>
