
    <div class="image">
      <a href="{{ item.prv().item_url()|safe }}">
        <div class="image_bg">
          <img src="{{ item.prv().thumbnail_url() }}" alt="{{ item.prv().name() }}">
        </div>
      </a>
    </div>


    <div id="main" class="image">
      {% with menu_bar = item.get_tag_menu(), slim=True %}{% include 'menubar.html' %}{% endwith %}
      <div class="image_bg container" >
        <video id="MY_VIDEO_1" class="video-js vjs-default-skin webnail" controls poster="{{item.webnail_url()}}" preload="auto" width="{{ item.webnail_x() }}" height="{{ item.webnail_y() }}" {% if item.slideshow() %}autoplay="true"{% endif %} data-setup="{}">
          <source src="{{ item.raw_url() }}" type='{{ item.mime_type() }}'>
          <p class="vjs-no-js">To view {{item.name()}} please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>

    </div>


    <div class="image">
      <a href="{{ item.nxt().item_url()|safe }}">
        <div class="image_bg">
          <img src="{{ item.nxt().thumbnail_url() }}" alt="{{ item.nxt().name() }}">
        </div>
      </a>
    </div>


    <div class="clearfix"></div>
