          </div>
        </div>  
      </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
      <nav class="navbar">
        <div class="row">
          <div class="col-md-8 col-sm-8 col-xs-7">
            <div class="moin-navbar-header">
              <div class="navbar-brand">{{ tmc.get_time_str() }}</div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-5">
            <div class="moin-pull-right">
              <a href="https://whoosh.readthedocs.io/en/latest/"><img src="{{ url_prefix }}/static/common/logos/whoosh.png"></a><a href="https://www.python.org/"><img src="{{ url_prefix }}/static/common/logos/python_powered.png"></a>
            </div>
          </div>
        </div>
      </nav> 

  </body>
</html>


